@using System.Reflection
@using Microsoft.Extensions.Logging
@using ManagerApartmentProject.Controllers
@model Admin
@inject ILogger<AdminController> _logger


@* @await Html.PartialAsync("_Form.cshtml", new {model = Model, disabled=true}) *@
<form>
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" disabled placeholder="Nhập tiêu đề">
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="email"></label>
        <input asp-for="email"  class="form-control" disabled placeholder="Nhập tiêu đề">
        <span asp-validation-for="email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="phoneNumber"></label>
        <input asp-for="phoneNumber"  class="form-control" disabled placeholder="Nhập tiêu đề">
        <span asp-validation-for="phoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="status"></label>
        <input asp-for="status"  class="form-control"  disabled placeholder="Nhập tiêu đề">
        <span asp-validation-for="status" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="description"></label>
        <input asp-for="description"  class="form-control" disabled placeholder="Nhập tiêu đề">
        <span asp-validation-for="description" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <a type="submit" class="btn btn-primary submit">Save</a>
        <button class="btn btn-default" asp-controller="Admin" asp-action="Index">Back</button>
    </div>
    <button class="btn btn-primary"asp-controller="Admin" asp-action="Index">Back</button>
</form>