.page-body-wrapper {
    padding-top: 5vh !important;
}
.sidebar > .nav > .nav-item > .nav-link {
    padding: 1.5em;
}
.sidebar > .nav > .nav-item > .nav-link i.fas {
    margin: 0 1em;
}
.sidebar > .nav > .nav-item:not(.sub-menu) > .nav-link::before {
    display: none !important;
}
.btn-default {
    box-shadow: 0 0 0 0.2px;
}

.show-flex {
    display: flex;
}
a.dropdown-item i {
    font-size: 1.2em !important;
    position: absolute;
    right: 0;
}