* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: rgb(200, 199, 200);
}

#sidebar-toggle {
  display: none;
}

#sidebar-toggle:checked ~ #sidebar {
  margin-left: calc(-100% / 6);
  /* width: 0; */
  opacity: 0;
}

#sidebar-toggle:checked ~ #content {
  width: 100%;
}

#sidebar {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: black;
  white-space: nowrap;
  box-shadow: 0px 20px 10px #d4d4d4;
  background-color: rgb(252, 224, 224);
  line-height: 3em;
  transition: 0.5s;
}

.sidebar-brand {
  text-align: left;
  background-color: rgb(80, 107, 37);
  margin: 0;
  padding: 0.6rem 0.8rem;
  color: white;
  position: relative;
}

.sidebar-nav {
  height: 90%;
  overflow-y: auto;
}

.sidebar-nav li a {
  text-decoration: none;
  list-style: none;
  text-align: left;
  display: block;
  width: 100%;
  padding-left: 20px;
  color: black;
}

.sidebar-nav > li.sidebar-item > a {
  font-size: 1.2em;
}

.sidebar-nav > li a:hover {
  background-color: rgb(108, 163, 97);
  color: white;
  padding-left: 30px;
}

.collapse {
  background-color: rgb(243, 226, 226);
}

.sidebar-nav > li.sidebar-item > .collapse li a {
  padding-left: 2.5em;
}

span.glyphicon {
  margin-right: 0.5em;
}

#content {
  transition: width 0.5s;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #8f8888;
    
}