@model Equipment
@using ManagerApartmentProject.Repositories
@inject IApartmentRes _apartmentRes;
@{
    var apartments = new SelectList(_apartmentRes.GetIdNameAll(), "ID", "name");
}
<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" placeholder="Nhập tiêu đề">
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="count"></label>
        <input asp-for="count" class="form-control" placeholder="Nhập tiêu đề">
        <span asp-validation-for="count" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="equipmentOf"></label>
        <select asp-for="equipmentOf"  class="form-control" asp-items="apartments">
            <option value="0">Please chooses apartment</option>
        </select>
        <span asp-validation-for="equipmentOf" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary submit">Save</button>
        <button class="btn btn-default" asp-action="Index">Back</button>
    </div>

</form>

@section Css {
    <style>
        /* Create page */
        .form-control {
            font-size: 0.9em !important;
            line-height: 1.2em !important;
        }
    </style>
}
