@model Equipment


@* @await Html.PartialAsync("_Form.cshtml", new {model = Model, disabled=true}) *@
<form>

    
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" disabled placeholder="Nhập tiêu đề">
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="count"></label>
        <input asp-for="count" class="form-control" disabled placeholder="Nhập tiêu đề">
        <span asp-validation-for="count" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="equipmentOf"></label>
        <input asp-for="equipmentOf" class="form-control" disabled placeholder="Nhập tiêu đề">
        <span asp-validation-for="equipmentOf" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <button class="btn btn-default"  asp-action="Index">Back</button>
    </div>
    
</form>