@model Tenant

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" placeholder="Nhập tiêu đề">
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="email"></label>
        <input asp-for="email"  class="form-control"  placeholder="Nhập tiêu đề">
        <span asp-validation-for="email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="phoneNumber"></label>
        <input asp-for="phoneNumber"  class="form-control"  placeholder="Nhập tiêu đề">
        <span asp-validation-for="phoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="advancePayment"></label>
        <input asp-for="advancePayment"  class="form-control"  placeholder="Nhập tiêu đề">
        <span asp-validation-for="advancePayment" class="text-danger"></span>
    </div>

    
    <div class="form-group">
        <button type="submit" class="btn btn-primary submit">Save</button>
        <button class="btn btn-default" asp-controller="Tenant" asp-action="Index">Back</button>
    </div>

</form>

@section Css {
    <style>
        /* Create page */
        .form-control {
            font-size: 0.9em !important;
            line-height: 1.2em !important;
        }
    </style>
}


@section Scripts {
    <script>
        $(() => {
            $("a.submit").click(() => {
                $("form").submit();
            });
        });
    </script>
}