@model Employee

<form>
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" disabled class="form-control" placeholder="Nhập tên căn hộ">
    </div>
    
    <div class="form-group">
        <label asp-for="email"></label>
        <input asp-for="email" disabled class="form-control" placeholder="Nhập tên căn hộ">
    </div>
    
    
    <div class="form-group">
        <label asp-for="phoneNumber"></label>
        <input asp-for="phoneNumber" disabled class="form-control" placeholder="Nhập tên căn hộ">
    </div>
    
    <div class="form-group">
        <label asp-for="address"></label>
        <input asp-for="address" disabled class="form-control" placeholder="Nhập tên căn hộ">
    </div>
    
    <div class="form-group">
        <label asp-for="salary"></label>
        <input asp-for="salary" disabled class="form-control" placeholder="Nhập tên căn hộ">
    </div>
    
    <div class="form-group">
        <label asp-for="joinDate"></label>
        <input asp-for="joinDate" disabled class="form-control" placeholder="Nhập tên căn hộ">
    </div>
    
    
    <div class="form-group">
        <label asp-for="description"></label>
        <input asp-for="description" disabled class="form-control" placeholder="Nhập tên căn hộ">
    </div>
    
    
    <div class="form-group">
        <button class="btn btn-default" asp-action="Index">Back</button>
    </div>
</form>