@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid" id="main-content">
    <div class="row main-content-header">
        <h3>Bảo Trì</h3>
    </div>

    <div id="display-data-wapper">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Tmp</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tmp</td>
                </tr>
                <tr>
                    <td>Tmp</td>
                </tr>
                <tr>
                    <td>Tmp</td>
                </tr>
                <tr>
                    <td>Tmp</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div> *@
