@{
    ViewData["Title"] = "Dash Board";
}
@{
    bool authority = User.IsInRole("SuperAdmin") || User.IsInRole("Admin");
}
<div class="row">
    @if (authority)
    {
        <div class="col-xs-12 col-md-4 col-lg-3 grid-margin stretch-card dashboard-card">
            <div class="card">
                <div class="card-body">
                    <a class="card-link" asp-controller="Floor" asp-action="Index">
                        <span class="menu-title">Tầng</span>
                    </a>
                    <i class="fas fa-coffee"></i>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-3 grid-margin stretch-card dashboard-card">
            <div class="card">
                <div class="card-body">
                    <a class="card-link" id="apartment" asp-controller="Apartment" asp-action="Index">
                        <span class="menu-title">chung cư</span>
                    </a>
                    <i class="fas fa-home"></i>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-3 grid-margin stretch-card dashboard-card">
            <div class="card">
                <div class="card-body">
                    <a class="card-link" asp-controller="Equipment" asp-action="Index">
                        <span class="menu-title">Thiết bị</span>
                    </a>
                    <i class="fas fa-th"></i>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-md-4 col-lg-3 grid-margin stretch-card dashboard-card">
            <div class="card">
                <div class="card-body">
                    <a class="card-link" asp-controller="Tenant" asp-action="Index">
                        <span class="menu-title">Dân cư</span>
                    </a>
                    <i class="fas fa-users"></i>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-3 grid-margin stretch-card dashboard-card">
            <div class="card">
                <div class="card-body">
                    <a class="card-link " asp-controller="Employee" asp-action="Index">
                        <span class="menu-title">Nhân viên</span>
                    </a>
                    <i class="fas fa-user-friends"></i>
                </div>
            </div>
        </div>

    }

    <div class="col-xs-12 col-md-4 col-lg-3 grid-margin stretch-card dashboard-card">
        <div class="card">
            <div class="card-body">
                <a class="card-link" id="invoice-apartment" asp-controller="InvoiceApartment" asp-action="Index">
                    <span class="menu-title">Thanh toán</span>
                </a>
                <i class="fas fa-file-invoice"></i>
            </div>
        </div>
    </div>
    @if (authority)
    {

        <div class="col-xs-12 col-md-4 col-lg-3 grid-margin stretch-card dashboard-card">
            <div class="card">
                <div class="card-body">
                    <a class="card-link" asp-controller="InvoiceBuilding" asp-action="Index">
                        <span class="menu-title">Chi tiêu</span>
                    </a>
                    <i class="fas fa-money-bill-wave"></i>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-3 grid-margin stretch-card dashboard-card">
            <div class="card">
                <div class="card-body">
                    <a class="card-link" asp-controller="Maintenance" asp-action="Index">
                        <span class="menu-title">Bảo trì</span>
                    </a>
                    <i class="fas fa-wrench"></i>
                </div>
            </div>
        </div>
    }
    
    <div class="col-xs-12 col-md-4 col-lg-3 grid-margin stretch-card dashboard-card">
        <div class="card">
            <div class="card-body">
                <a class="card-link" asp-controller="Notification" asp-action="Index">
                    <!-- data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth" -->
                    <span class="menu-title">Thông Báo</span>
                    @* <i class="menu-arrow"></i> *@
                </a>
                <i class="fas fa-bell"></i>
            </div>
        </div>
    </div>

</div>
@section Css {
<link rel="stylesheet" href="~/css/dashboard.css">
}