@using ManagerApartmentProject.Models
@model Notification

<form method="post" asp-action="Update">
    <div class="form-group">
        <label asp-for="title"></label>
        <input asp-for="title" type="text" class="form-control" placeholder="Nhập tiêu đề">
        <span asp-validation-for="title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="content"></label>
        <textarea asp-for="content" class="form-control" rows="8" placeholder="Nhập nội dung"></textarea>
        <span asp-validation-for="content" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
    <input asp-for="dateRelease" hidden/>
    <input asp-for="ID" hidden/>
</form>

@section Css {
    <style>
        /* Create page */
        .form-control {
            font-size: 0.9em !important;
            line-height: 1.2em !important;
        }
    </style>
}