@model InvoiceApartment
@{
    var disabled = Convert.ToBoolean(ViewData["disabled"]) ? "disabled" : "";
    var hideOwner = Convert.ToBoolean(ViewData["hideOwner"]);
}
<input asp-for="ID" hidden />
@if (!hideOwner)
{
    <div class="form-group">
        <label asp-for="owner"></label>
        <input asp-for="owner" class="form-control" disabled >
        <span asp-validation-for="owner" class="text-danger"></span>
    </div>
}

<div class="form-group">
    <label asp-for="dateRelease"></label>
    <input asp-for="dateRelease" class="form-control @disabled" >
    <span asp-validation-for="dateRelease" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="datePaid"></label>
    <input asp-for="datePaid" class="form-control @disabled" >
    <span asp-validation-for="datePaid" class="text-danger"></span>
</div>

<div class="form-group">
    <div class="checkbox @disabled">
        <label>
            <input asp-for="status" /> Đã thanh toán
        </label>
    </div>
</div>

<div class="form-group">
    <label asp-for="amount"></label>
    <input asp-for="amount" class="form-control @disabled"  disabled>
    <span asp-validation-for="amount" class="text-danger"></span>
</div>


