@using ManagerApartmentProject.Models
@model InvoiceApartmentViewModel

<div>
    @{
        ViewData["disabled"] = true;
    }
    <h4>Thông tin chung</h4>
    <div id="invoice">
        @await Html.PartialAsync(
            "_InvoiceForm.cshtml",
            Model.invoice,
            ViewData
        )
    </div>
    
    <div id="details">
        @await Html.PartialAsync(
            "_DetailInvoiceForm.cshtml",
            Model.details,
            ViewData
        )
        
    </div>

    <a class="btn btn-default" asp-controller="InvoiceApartment" asp-action="Index">Back</a>

</div>

@section Scripts {
<script src="~/js/InvoiceApartment.js"></script>
}

@section Css {
    <link rel="stylesheet" href="~/css/invoiceApartment.css">
}