@using ManagerApartmentProject.Repositories
@inject IFloorRes _floorRes;
@model Apartment

@{
    var floors = new SelectList(_floorRes.GetAll(), "ID", "name");
}

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" placeholder="Nhập tiêu đề">
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="floor"></label>
        <select asp-for="floor" class="form-control" asp-items="floors" >
            <option value="0">Please chooses tenant</option>
        </select>
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input asp-for="status" /> Đã được thuê
            </label>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="paymentPerMonth"></label>
        <input asp-for="paymentPerMonth"  class="form-control" placeholder="Nhập mô tả">
        <span asp-validation-for="paymentPerMonth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="description"></label>
        <input asp-for="description"  class="form-control" placeholder="Nhập mô tả">
        <span asp-validation-for="description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary submit">Create</button>
        <button class="btn btn-default" asp-controller="Apartment" asp-action="Index">Back</button>
    </div>
</form>

@section Css {
    <style>
        /* Create page */
        .form-control {
            font-size: 0.9em !important;
            line-height: 1.2em !important;
        }
    </style>
}
