@model Apartment

<form asp-action="Delete" method="post">
    <input asp-for="ID" type="hidden" />
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" disabled class="form-control" placeholder="Nhập tên căn hộ">
    </div>
    <div class="form-group">
        <label asp-for="floor"></label>
        <input asp-for="floor" disabled class="form-control" >
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input asp-for="status" disabled /> Đã được thuê
            </label>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="paymentPerMonth"></label>
        <input asp-for="paymentPerMonth" disabled  class="form-control" placeholder="Nhập mô tả">
    </div>
    <div class="form-group">
        <label asp-for="description"></label>
        <input asp-for="description" disabled class="form-control" placeholder="Nhập mô tả">
    </div>
    
    <div class="form-group">
        <button class="btn btn-default" asp-controller="Apartment" asp-action="Index">Back</button>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary submit">Delete</button>
        <button class="btn btn-default" asp-controller="Apartment" asp-action="Index">Back</button>
    </div>
</form>