@model Apartment


<h3>Thông tin chung cư</h3>
<form>
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" disabled class="form-control" placeholder="Nhập tên chung cư">
    </div>
    <div class="form-group">
        <label asp-for="floorName"></label>
        <input asp-for="floorName" disabled class="form-control" >
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input asp-for="status" disabled /> Đã được thuê
            </label>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="paymentPerMonth"></label>
        <input asp-for="paymentPerMonth" disabled  class="form-control" placeholder="Nhập mô tả">
    </div>
    <div class="form-group">
        <label asp-for="description"></label>
        <input asp-for="description" disabled class="form-control" placeholder="Nhập mô tả">
    </div>
    
    
</form>

<h3>Danh sách thiết bị</h3>

@await Html.PartialAsync("../Equipment/Index.cshtml", ViewBag.equipments, null)

<br>
<div class="form-group">
    <a class="btn btn-default" asp-action="Index">Back</a>
</div>