@model Floor

@* @await Html.PartialAsync("_Form.cshtml", new {model = Model, disabled=true}) *@
<h3>Thông tin tầng</h3>
<form>
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" disabled placeholder="Nhập tiêu đề">
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <label asp-for="description"></label>
        <input asp-for="description"  class="form-control" disabled placeholder="Nhập tiêu đề">
        <span asp-validation-for="description" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <button class="btn btn-default" asp-action="Index">Back</button>
    </div>
</form>

<h3>Danh sách chung cư</h3>

@await Html.PartialAsync("../Apartment/Index.cshtml", ViewBag.apartments, null)