<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category">Dashboard</li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon typcn typcn-coffee"></i>
                <span class="menu-title">Tầng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="basic_elements.html">
                <i class="menu-icon typcn typcn-shopping-bag"></i>
                <span class="menu-title">Phòng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="basic_elements.html">
                <i class="menu-icon typcn typcn-shopping-bag"></i>
                <span class="menu-title">Thiết bị</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="chartjs.html">
                <i class="menu-icon typcn typcn-th-large-outline"></i>
                <span class="menu-title">Dân cư</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="basic-table.html">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Nhân viên</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="font-awesome.html">
                <i class="menu-icon typcn typcn-user-outline"></i>
                <span class="menu-title">Thanh toán</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="font-awesome.html">
                <i class="menu-icon typcn typcn-user-outline"></i>
                <span class="menu-title">Chi tiêu</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="menu-icon typcn typcn-document-add"></i>
                <span class="menu-title">Tương tác</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Notification" asp-action="Index"> Thông báo </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html"> Complain </a>
                    </li>

                </ul>
            </div>
        </li>
    </ul>
</nav>