@{bool authority = User.IsInRole("SuperAdmin") || User.IsInRole("Admin");}
@{bool authority2 =  User.IsInRole("SuperAdmin") || User.IsInRole("Admin")||User.IsInRole("Employee");}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        @if (authority)
        {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Floor" asp-action="Index">
                <i class="fas fa-coffee"></i>
                <span class="menu-title">Tầng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="apartment" asp-controller="Apartment" asp-action="Index">
                <i class="fas fa-home"></i>
                <span class="menu-title">Chung cư</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Equipment" asp-action="Index">
                <i class="fas fa-th"></i>
                <span class="menu-title">Thiết bị</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Tenant" asp-action="Index">
                <i class="fas fa-users"></i>
                <span class="menu-title">Dân cư</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-controller="Employee" asp-action="Index">
                <i class="fas fa-user-friends"></i>
                <span class="menu-title">Nhân viên</span>
            </a>
        </li>
        }
        @if (authority2){

        <li class="nav-item">
            <a class="nav-link " asp-controller="EmployeeForm" asp-action="Index">
                <i class="fas fa-user-friends"></i>
                <span class="menu-title">Đơn Nhân viên</span>
            </a>
        </li>
        }

        <li class="nav-item">
            <a class="nav-link" id="invoice-apartment" asp-controller="InvoiceApartment" asp-action="Index">
                <i class="fas fa-file-invoice"></i>
                <span class="menu-title">Thanh toán</span>
            </a>
        </li>


        @if (authority)
        {
        <li class="nav-item">
            <a class="nav-link" asp-controller="InvoiceBuilding" asp-action="Index">
                <i class="fas fa-money-bill-wave"></i>
                <span class="menu-title">Chi tiêu</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Maintenance" asp-action="Index">
                <i class="fas fa-wrench"></i>
                <span class="menu-title">Bảo trì</span>
            </a>
        </li>
        }

        <li class="nav-item">
            <a class="nav-link" asp-controller="Notification" asp-action="Index">
                <i class="fas fa-bell"></i>
                <span class="menu-title">Thông Báo</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Complaint" asp-action="Index">
                <i class="fas fa-bell"></i>
                <span class="menu-title">Complaint</span>
            </a>

        </li>

    </ul>
</nav>