@model Employee

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" >
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="address"></label>
        <input asp-for="address"  class="form-control" >
        <span asp-validation-for="address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="email"></label>
        <input asp-for="email"  class="form-control" >
        <span asp-validation-for="email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="phoneNumber"></label>
        <input asp-for="phoneNumber"  class="form-control" >
        <span asp-validation-for="phoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="salary"></label>
        <input asp-for="salary"  class="form-control" >
        <span asp-validation-for="salary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="joinDate"></label>
        <input asp-for="joinDate"  class="form-control" >
        <span asp-validation-for="joinDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="description"></label>
        <input asp-for="description"  class="form-control" >
        <span asp-validation-for="description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary submit">Save</button>
        <button class="btn btn-default" asp-controller="Employee" asp-action="Index">Back</button>
    </div>

</form>

@section Css {
    <style>
        /* Create page */
        .form-control {
            font-size: 0.9em !important;
            line-height: 1.2em !important;
        }
    </style>
}